/*  ?? variables for this project */
  $rounding: 8px;




/* semantic color palette for this project */

  $color-content: rgb(21, 35, 34);
  $color-content-accent: rgb(85, 85, 85);
  $color-interface: rgb(255, 232, 175);
  $color-interface-accent: rgb(0, 0, 0);

  /* contrast */
  $color-contrast: rgb(8, 213, 114);

  /* background */
  $color-space: rgb(255, 206, 75);
  $color-section: rgb(255, 255, 255);


