@import './config.scss';

/* base config */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  
  color: $color-content;
  background: $color-space;
  transition: color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* app cofing */
#app {
  max-width: 1280px;
  margin: 0 auto;
  // max-width: 100vw;
  // overflow: hidden;
  padding: 1rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: $color-content-accent;  
  transition: 0.4s;
  border-radius: $rounding;
  display: inline-block;
  padding: 1px 7px;
  background-color: rgba(0, 0, 0, 0.05);
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: rgba(0, 0, 0, 0.1);
    // color: $color-space;  
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tag
{
      // box-sizing: border-box;
      display: inline-block;
      background-color: $color-interface;
      padding: 4px 10px 4px 10px;
      border-radius: 8px;
      margin: 4px 4px;
      color: $color-content; //rgb(42, 97, 92)
      font-weight: 500;
      height: 32px;
      &:hover{
        background-color: $color-contrast;
      }
}

/* @media (min-width: 1024px) { */
  body {
    display: flex;
    place-items: center;
  /* } */

  #app {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 1rem;
  }
}
